In [ ]:
## Purchase Count
## Average Purchase Price
## Total Purchase Value

# Most Popular Items

# Identify the 5 most popular items by purchase count, then list (in a table):

## Item ID
## Item Name
## Purchase Count
## Item Price
## Total Purchase Value

# Most Profitable Items

# Identify the 5 most profitable items by total purchase value, then list (in a table):

## Item ID
## Item Name
## Purchase Count
## Item Price
## Total Purchase Value

# As final considerations:

## You must use the Pandas Library and the Jupyter Notebook.
## You must submit a link to your Jupyter Notebook with the viewable Data Frames.
## You must include a written description of three observable trends based on the data.
## See Example Solution for a reference on expected format.

In [6]:
import pandas as pd

In [7]:
# Player Count

purchase = pd.read_csv('purchase_data.csv')
purchase.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
## Total Number of Players

total_players = len(purchase.SN.unique())
total_players

576

In [3]:
# Purchasing Analysis (Total)

## Number of Unique Items

unique_items = len(purchase['Item Name'].unique())
unique_items

179

In [4]:
## Average Purchase Price

avg_price = purchase.Price.mean()
round(avg_price,2)

3.05

In [5]:
## Total Number of Purchases

total_purchases = len(purchase['Purchase ID'].unique())
total_purchases

780

In [8]:
## Total Revenue

total_revenue = purchase.Price.sum()
total_revenue

2379.77

In [30]:
# Gender Demographics

## Percentage and Count of Male Players
### Filter by unique IDs

len(purchase.loc[purchase["Gender"] == 'Male', :])

652

In [33]:
## Percentage and Count of Female Players

len(purchase.loc[purchase["Gender"] == 'Female', :])

113

In [32]:
## Percentage and Count of Other / Non-Disclosed

len(purchase.loc[purchase["Gender"] == 'Other / Non-Disclosed', :])

15

In [12]:
# Purchasing Analysis (Gender)

# The below each broken by gender

## Purchase Count

In [13]:
## Average Purchase Price

In [14]:
## Total Purchase Value

In [15]:
## Average Purchase Total per Person by Gender

In [16]:
# Age Demographics

# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

## Purchase Count

In [17]:
## Average Purchase Price

In [18]:
## Total Purchase Value

In [19]:
## Average Purchase Total per Person by Age Group

In [ ]:
# Top Spenders

# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

## SN